<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>마스크로 가려진 얼굴 복원</title>
</head>
<body>
<article id="544744e3-6061-40fc-bb3d-cc7e9680bf83" class="page sans">
    <header>
        <h2 class="page-title">마스크로 가려진 얼굴 복원</h2>
    </header>
    
    <h4> 1) 마스크를 쓴 사진에 들어갔으면 하는 <strong>감정을 선택</strong>하면, 캡처/업로드 한 사진들을 이용해서 </h4>
        <strong>감정 선택하기</strong> <br><br>
        <hr>
        <!--
        <a href = "/happy"> 기쁨(Happy)</a>
        <br>
        <a href = "/angry"> 화남(Angry)</a>
        <br>
        <a href = "/neutral"> 무표정(Neutral)</a>
        <br><hr>
        -->
        <a href = "/index"> 예측 후 GAN의 학습 데이터로 이용</a>
        <br><hr>
    <h4> 2) <strong>마스크를 없앤 얼굴</strong>로 <strong>복원</strong>을 시켜줍니다.</h4>
        <a href = "/restore"> 마스크 쓴 사진 업로드</a>
    </ul><p id="e02cc354-7775-482b-aa9b-1ec5f05fc520" class=""></p>
    </div>
</article>
</body>
</html>